* {
  padding: 0;
  margin: 0;
}

.app-title {
  margin: 1.5rem;
  color: rgb(129, 82, 120);
}

.form {
  padding: 1.5rem;
  margin: 1rem;
  margin-bottom: 3rem;
  height: 90%;
  width: 50%;
  background-color: rgb(228, 226, 228);
  color: rgb(92, 91, 91);
  font-weight: 600;
  clip-path: polygon(
    0 5%,
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0% 95%,
    0% 5%
  )
}

label {
  display: flex;
  flex-direction: column;
}

input {
  width: 10rem;
}

textarea {
  width: 10rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h3 {
  color: rgb(129, 82, 120);
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

input,
textarea {
  border-style: none;
  border-radius: 4px;
  opacity: 0.6;
  padding: 0.1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

input:focus,
textarea:focus {
  opacity: 0.9;
  outline: none;
}

.info-section,
.education-section,
.work-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin-left: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.edit-button,
.add-more {
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.add-more {
  display: block;
  margin-bottom: 1rem;
}

