.generated-name {
    text-align: center;
    font-size: 1.5rem;
}

.generated-contact {
    text-align: center;
    color: grey;
}

.generated-info-section {
    border-bottom: 1.5px solid rgb(143, 134, 132);
    padding: 0.8rem;
}